* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(48, 48, 48);
}
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container__logo {
  display: flex;
  align-items: center;
  color: #c3c3c3;
  margin: 30px 0;
}
.container__logo h1 {
  font-weight: 400;
}
.container__logo span {
  font-weight: 900;
}
#tux {
  cursor: pointer;
}
#tux:hover {
  transform: scale(0.95);
}
#tux:active {
  transform: scale(0.85);
}
#book-container {
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: column;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  padding: 30px 50px;
  background-color: #c3c3c3;
  border-radius: 15px;
  width: 600px;
  border: 0.0001px solid rgba(255, 255, 255, 0.375);
}
.book {
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.378);
}
.book:last-child {
  border-bottom: none;
}
#new-book,
#close {
  width: 25%;
  background-color: rgb(222, 7, 7);
  color: #c3c3c3;
  font-weight: 700;
  border-radius: 20px;
  padding: 10px 2px;
  cursor: pointer;
  margin-bottom: 10px;
}
#new-book:hover {
  transform: scale(0.95);
  background-color: black;
  color: rgb(222, 7, 7);
}
#new-book:active {
  transform: scale(0.85);
}
.book__dialog {
  width: 300px;
  background-color: black;
}
#my-dialog {
  margin: 0 auto;
  margin-top: 200px;
  background-color: rgb(31, 31, 31);
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.622);
  color: #c3c3c3;
  border: 0.0001px solid rgba(255, 255, 255, 0.375);
}
#inputs {
  display: flex;
  flex-direction: column;
}
#inputs input {
  margin-bottom: 10px;
  padding: 4px 6px;
}
#close {
  font-size: 10px;
  width: 30%;
  margin-top: 30px;
  padding: 6px 2px;
}
#close:hover {
  transform: scale(0.95);
  background-color: black;
  color: rgb(222, 7, 7);
}
#close::active {
  transform: scale(0.85);
}
#my-dialog h4 {
  margin-bottom: 10px;
  padding: 4px 0;
  border-bottom: 0.0001px solid rgba(255, 255, 255, 0.375);
}
